version: '3'

services:
  mysql:
    image: mysql:8
    command: --character-set-server=UTF8MB4 --collation-server=UTF8MB4_general_ci
    ports:
      - 3307:3307
    environment:
      MYSQL_DATABASE: 'v92pro2z_finshop'
      MYSQL_USER: 'v92pro2z_finshop'
      MYSQL_PASSWORD: 'Nlkqkwhv!6'
      MYSQL_ROOT_PASSWORD: 'Nlkqkwhv!6'
    volumes:
      - mysql_data:/var/lib/mysql

  redis:
    image: redis
    restart: always
    container_name: app_redis
    command: redis-server
    ports:
      - 6379:6379

  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    restart: always
    container_name: backend
    environment:
      - DATABASE_HOST=mysql
    env_file:
      - ./backend/django_telegram_bot/.env
    volumes:
      - ./backend:/app
      - ./frontend/dist:/app/frontend/dist
      - ./media:/app/media
    ports:
      - 8000:8000
    depends_on:
      - mysql

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    restart: always
    container_name: frontend
    stdin_open: true
    tty: true
    volumes:
      - ./frontend:/app
      - /app/node_modules
    ports:
      - 5173:5173
    depends_on:
      - backend


  celery:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: celery
    command: celery -A django_telegram_bot worker -l info
    volumes:
      - .:/backend/django_telegram_bot
    links:
      - redis
    depends_on:
      - backend
      - redis

volumes:
  mysql_data: