{% extends "admin/base_site.html" %}
{% load i18n static %}
{% block content %}
<table border="1px">
    <tr>
        <td><p style="font-size: 14px;">Загрузка из 1с:</p></td>
    </tr>
    <tr>
        <td>
            <p style="font-size: 14px;">Первичная загрузка:</p>
        </td>
        <td>
            <div style="margin: 15px 0 15px 0">
                <form action="{% url 'load_category_from_1c' %}" method="post">
                    {% csrf_token %}
                    <button type="submit">Загрузить <b> КАТЕГОРИИ </b> из 1c</button>
                </form>
            </div>
            <div style="margin: 15px 0 15px 0;">
                <form action="{% url 'load_products_from_1c' %}" method="post">
                    {% csrf_token %}
                    <button type="submit">Загрузить <b> ТОВАРЫ </b> из 1c</button>
                </form>
            </div>
            <div style="margin: 15px 0 15px 0;">
                <form action="{% url 'load_prices_from_1c' %}" method="post">
                    {% csrf_token %}
                    <button type="submit">Загрузить <b> ЦЕНЫ </b> из 1c</button>
                </form>
            </div>
            <div style="margin: 15px 0 15px 0;">
                <form action="{% url 'load_rests_from_1c' %}" method="post">
                    {% csrf_token %}
                    <button type="submit">Загрузить <b> ОСТАТКИ </b> из 1c</button>
                </form>
            </div>
        <td>
            <div style="margin: 15px 0 15px 0;">
                <form action="{% url 'load_images_from_1c' %}" method="post">
                    {% csrf_token %}
                    <button type="submit">Загрузить <b> ИЗОБРАЖЕНИЯ </b> товаров из 1c</button>
                    <div style="margin: 15px 0 15px 0;">Проверить все фото (если нет, то только кого нет фото)
                        <input type="checkbox" name="load_all"></div>
                    <div style="margin: 15px 0 15px 0;">Если у товара есть фото обновлять
                        <input checked type="checkbox" name="update"></div>
                </form>
            </div>
        </td>
    </tr>
    <tr>
        <td><p style="font-size: 14px;">Утилиты для базы бота:</p></td>
        <td>
            <div style="margin: 15px 0 15px 0;">
                <form action="{% url 'remove_duplicates' %}" method="post">
                    {% csrf_token %}
                    <button type="submit">Удалить дубли</button>
                </form>
            </div>
            <div style="margin: 15px 0 15px 0;">
                <form action="{% url 'remove_no_ref_key' %}" method="post">
                    {% csrf_token %}
                    <button type="submit">Удалить товары без ссылки на 1с</button>
                </form>
            </div>
        </td>
    </tr>
</table>

{% endblock %}