{% extends 'base.html' %}

{% block content %}

    <details>
        <summary>-> Показать старые сообщения <-</summary>
        {% for user_message in user_old_messages %}

                <table>

                    <tr>
                    {% if user_message.manager %}
                        <td></td><td>{{ user_message.date }} | {{ user_message.message }} <br> {{ user_message.manager }}</td>
                    {% else %}
                        <td>{{ user_message.date }} | {{ user_message.message }} <br> {{ user_message.user }}</td>
                    {% endif %}
                    </tr>
                </table>

        {% endfor %}
    </details>
    {% for user_message in user_new_messages %}

            <table>

                <tr>
                {% if user_message.manager %}
                    <td></td><td>{{ user_message.date }} | {{ user_message.message }} <br> {{ user_message.manager }}</td>
                {% else %}
                    <td>{{ user_message.date }} | {{ user_message.message }} <br> {{ user_message.user }}</td>
                {% endif %}
                </tr>
            </table>

    {% endfor %}
    <form class="form" action="{% url 'send_message' %}" method="post">
       {% csrf_token %}

        <input hidden type="text" name="chat_id" value="{{ pk }}">
        <p>Сообщение: <textarea name="message"></textarea></p>
        <p>Тихое уведомление: <input name="disable_notification" type="checkbox" checked></p>
        <button type="submit">Отправить</button>
    </form>
    <div><p>Заказы пользователя:</p>
    {% for order_id in user_orders %}
        <p><a href="/order/{{ order_id.id }}">Заказ № {{ order_id.id }}</a></p>
    {% endfor %}
    </div>
{% endblock %}