{% extends 'base.html' %}
{% load static %}

{% block extrahead %}<meta http-equiv="refresh" content="60">{% endblock %}
{% block content %}
{% if new_message %}
    <div><audio hidden autoplay controls src="{% static 'audio/zvonok-kak-v-kolokolchik.mp3' %}"></audio></div>
{% endif %}
    <table border="1px">
    <tr>
        <td>Пользователь</td>
        <td>Последние не прочитанное сообщение</td>
    </tr>
    {% for user in users %}
        <tr>
            <td><a href="{% url 'user_messages_detail' user.user.chat_id  %}">{{ user.user }}</a></td>
            <td><a href="{% url 'user_messages_detail' user.user.chat_id  %}">{{ user.message }}</a></td>
        </tr>
    {% endfor %}
</table>
{% endblock %}