{% extends 'base.html' %}
{% load static shop_tags %}

{% block extrahead %}
<meta http-equiv="refresh" content="60">{% endblock %}
{% block content %}
{% if request.user.is_superuser %}
<p>Пользователей {{ count_users }}, указали номер телефона {{ count_users_phone }}</p>
{% endif %}
{% if new_message %}
{% endif %}

<h1>Список заявок</h1>
<div pading="2px">
    <form name="orders_filter">
        <select name="filter_date_year">
            <option value="">Год (все)</option>
            {% for year in orders_years %}
                <option {% if year.date__year == filter_year %} selected {% endif %} value="{{ year.date__year }}">
                    {{ year.date__year }}
                </option>
            {% endfor %}
        </select>
        <select name="filter_date_month">
            <option value="">Месяц (все)</option>
            {% for month in orders_months %}
                <option {% if month.date__month == filter_month %} selected {% endif %} value="{{ month.date__month }}">
                    {{ month.date__month }}
                </option>
            {% endfor %}
        </select>
        <select name="filter_status">
            <option value="">Статус (все)</option>
            {% for status in order_statuses %}
            <option {% if status.id == filter_status.id %} selected {% endif %}
                    value="{{ status.id }}">{{ status }}
            </option>
            {% endfor %}
        </select>
        <button type="submit">Найти</button>
    </form>

</div>

<table border="1px">
    <tr>
        <td>Дата оформления</td>
        <td>Заказ №</td>
        <td>Статус</td>
        <td>Взял в обработку</td>
        <td>Доставка</td>
        <td>Адрес</td>
        <td>Скидка</td>
        <td>Оплачены товары</td>
        <td>Оплачена доставка</td>
    </tr>
    {% for order in orders %}
    <tr>
        <td>{{ order.date }}</td>
        <td><a href="{% url 'orders_detail' order.id  %}">{{ order.id }}</a></td>
        <td><a href="{% url 'orders_detail' order.id  %}">{{ order.status }}</a></td>
        <td><a href="{% url 'orders_detail' order.id  %}">
            {% if not order.admin_check %}
            -
            {% else %}
            {{ order.admin_check.first_name }}
            {% endif %}
        </a></td>

        <td><a href="{% url 'orders_detail' order.id  %}">
            {% if order.deliver %}
            да
            {% else %}
            нет
            {% endif %}
        </a></td>
        <td><a href="{% url 'orders_detail' order.id  %}">{{ order.delivery_info }}</a></td>
        <td>
            {{ order.get_sale_type_display }}
        </td>
        <td>
            {% if order.payed %} да {% else %} нет {% endif %}
        </td>
        <td>
            {% if order.payed_delivery %} да {% else %} нет {% endif %}
        </td>
    </tr>
    {% endfor %}
</table>
<p>Всего заявок {{ orders_count }} шт.</p>
<p>На сумму {{ price_sum }} р. (средняя стоимость заказа {{ price_avg }} р.)</p>

{% endblock %}