{% extends 'base.html' %}
{% load shop_tags %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Заказ №{{ order.id }}</title>
    </head>
    <body>
    <a href="/">Вернуться к заказам</a>
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li>{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
        <h1>Заказ №{{ order.id }}</h1>
        <p>Дата: {{ order.date }}</p>
        <p>Клиент: {{ order.profile.telegram_name }}</p>
        <p>Номер телефона: {{ order.profile.phone }}</p>
        <p>Доставка: {% if order.deliver %}
                    да
                {% else %}
                    нет
                {% endif %}
        </p>
        <p>Адрес: {{ order.delivery_info }}</p>
        <form action="" method="post" class="mt-4" id="formReview">
        {% csrf_token %}
            <p>Статус:
                <select name="new_status">
                    {% for status in order_statuses %}
                        <option
                                {% if status == order.status %} selected {% endif %}
                                value="{{ status.title }}">{{ status }}</option>
                    {% endfor %}
                </select>
            </p>
            </p>Магазин списания/возврата:
                <select name="shop">
                    {% for shop in shops %}
                        <option
                                {% if shop == order.profile.main_shop %} selected {% endif %}

                                value="{{ shop.id }}">{{ shop }}</option>
                    {% endfor %}
                </select>
            <table border="1px">
                <tr>
                    <td>Название</td>
                    <td>Количество</td>
                    <td>Стоимость за шт.</td>
                    <td>Сумма</td>
                    {% for shop in shops %}
                        <td {% if order.profile.main_shop == shop %} bgcolor="green" {% endif %}> {{ shop }}</td>
                    {% endfor %}
                </tr>
                {% for product in order.carts_set.all %}
                <tr>
                    <td {% if product.soft_delete %} bgcolor="red" {% endif %}>
                        {{ product.product.name }} </td>
                    <td> <input
                            {% if order.status.title != "0" %} disabled {% endif %}
                                name="{{ product.id }}" id="contactparent" value="{% formatted_float product.amount %} "></td>
                    <td> {% formatted_float product.price %}</td>
                    <td> {% get_sum product.amount product.price %}</td>
                    {% for rest in product.product.rests_set.all %}
                        <td {% if product.amount > rest.amount %} bgcolor="yellow" {% endif %}>
                            {% formatted_float rest.amount %}</td>
                    {% endfor %}
                </tr>
                {% endfor %}
                {% if order.deliver %}
                    <tr>
                        <td>
                        Стоимость доставки
                        <input {% if order.status.title != "0" %} disabled {% endif %} type="number" name="delivery_price" value="{{ order.delivery_price }}">
                        </td>
                    </tr>
                {% endif %}
            </table>
            <button type="submit">Записать</button>
        </form>
        <p>Сумма: {{ order_sum }}</p>
        <p> {% if not order.admin_check %}
            Обработанна: -
        {% else %}
            Обработанна: {{ order.admin_check.first_name }} {{ order.admin_check.last_name }}
        {% endif %}
        </p>
    </body>
</html>
{% endblock %}