{% extends 'base.html' %}
{% load shop_tags %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Список заявок</title>
</head>
<body>
<h1>Список заявок</h1>
<table border="1px">
    <tr>
        <td>Дата оформления</td>
        <td>Заказ №</td>
        <td>Статус</td>
        <td>Клиент</td>
        <td>Доставка</td>
        <td>Адрес</td>
        <td>Стоимость</td>
    </tr>
    {% for order in orders %}
        <tr>
            <td>{{ order.date }}</td>
            <td>{{ order.id }}</td>
            <td>{{ order.status }}</td>
            <td><a href="{% url 'orders_detail' order.id  %}">{{ order.profile.user.username }}</a></td>
            <td><a href="{% url 'orders_detail' order.id  %}">{{ order.deliver }}</a></td>
            <td><a href="{% url 'orders_detail' order.id  %}">{{ order.delivery_info }}</a></td>
            <td>{{ order.order_price }}</td>
        </tr>
    {% endfor %}
</table>


</body>
</html>

{% endblock %}