{% extends 'base.html' %}
{% load static shop_tags %}

{% block extrahead %}<meta http-equiv="refresh" content="60">{% endblock %}
{% block content %}
{% if request.user.is_superuser %}
    <p>Пользователей {{ count_users }}, указали номер телефона {{ count_users_phone }}</p>
{% endif %}
{% if new_message %}
    <div><audio hidden autoplay controls src="{% static 'audio/zvonok-kak-v-kolokolchik.mp3' %}"></audio></div>
{% endif %}

<h1>Список заявок</h1>
<table border="1px">
    <tr>
        <td>Дата оформления</td>
        <td>Заказ №</td>
        <td>Статус</td>
        <td>Взял в обработку</td>
        <td>Доставка</td>
        <td>Адрес</td>
        <td>Стоимость</td>
    </tr>
    {% for order in orders %}
        <tr>
            <td>{{ order.date }}</td>
            <td><a href="{% url 'orders_detail' order.id  %}">{{ order.id }}</a></td>
            <td><a href="{% url 'orders_detail' order.id  %}">{{ order.status }}</a></td>
            <td><a href="{% url 'orders_detail' order.id  %}">
                {% if not order.admin_check %}
                    -
                {% else %}
                    {{ order.admin_check.last_name }}
                {% endif %}
            </a></td>

            <td><a href="{% url 'orders_detail' order.id  %}">
                {% if order.deliver %}
                    да
                {% else %}
                    нет
                {% endif %}
            </a></td>
            <td><a href="{% url 'orders_detail' order.id  %}">{{ order.delivery_info }}</a></td>
            <td>{{ order.order_price }}</td>
        </tr>
    {% endfor %}
</table>
{% endblock %}