{% extends 'base.html' %}
{% load shop_tags %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Отправить сообщение пользователю</title>
    </head>
    <body>
    <a href="/">Вернуться к заказам</a>
    <form action="" method="post" class="mt-4" id="formReview">
        {% csrf_token %}
        <p>Ид чата: <input type="text" name="chat_id" value=""></p>
        <p>Сообщение: <textarea name="message"></textarea></p>
        <button type="submit">Записать</button>
    </form>

    </body>
</html>
{% endblock %}